{% include 'header.html' %} 
<br>
<div class="container">
    <div class="row justify-content-start">
        <div class="col-6">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your name here">
             </div>
             <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Number</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your mobile number">
             </div>
             <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email address">
             </div>
             <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-primary">Send</button>
              </div>

        </div>
        <div class="col-6">
            <img src="/static/images/miles-burke-idhx-MOCDSk-unsplash.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
  
</div>